$Poppins: true;
$Inter: true;
$font-custom-class: (
  "poppins": "Poppins",
  "inter": "Inter",
);
@each $class, $name in $font-custom-class {
  .f-#{$class} {
    font-family: $name, $font-family;
  }
}
// Font Add
//Poppins
@if $Poppins {
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  }
}
// Inter
@if $Inter {
  @font-face {
    font-family: "Inter";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter/Inter-Black.ttf") format("truetype");
  }
}
